@tailwind base;
@tailwind components;
@tailwind utilities;

.signal-line {
  --rotation: 90deg;
  @apply h-[2px] w-[14px] bg-gradient-to-t md:h-[1.5px] md:w-[20px] lg:w-[30px] xl:w-[40px];
  background-color: hsla(0, 0%, 100%, 0.1);
  background-image: linear-gradient(
    var(--rotation),
    rgba(255, 255, 255, 0) 50%,
    #bfdbfe 50%,
    rgba(255, 255, 255, 0) 70%
  );
  background-size: 400% 400%;
}